<div class="animated fadeIn">
   
   
    <!--/.row-->
    <div class="card">
        <div class="card-header">
          <strong>Création de dossier</strong> 
        </div>
        <div class="card-body">
      
           
              <div class="row">


                
                <div class="col">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Date de réception</b></span>
                    </div>
                    <input class="form-control" id="date-input" name="date-input" placeholder="date" type="date">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="cui-calendar "></i></span>
                    </div>
                  </div>



                </div>
                <div class="col"> 


                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Date de notification</b></span>
                    </div>
                    <input class="form-control" id="date-input" name="date-input" placeholder="date" type="date">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="cui-calendar "></i></span>
                    </div>
                  </div>


                </div>
               
              </div> <br/>
    
               
              <div class="row">


                
                <div class="col">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Nom et Prénom</b></span>
                    </div>
                    <input class="form-control" id="username3" name="username3" type="text">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                  </div>



                </div>
                <div class="col"> 


                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Num Tel</b></span>
                    </div>
                    <input class="form-control" id="username3" name="username3" type="text">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-phone "></i></span>
                    </div>
                  </div>


                </div>
               
              </div>
            <br/>
            
              <div class="row">


                
                <div class="col">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Nature</b></span>
                    </div>
                    <select class="form-control" id="select1" name="select1">
                      <option value="0" ng-reflect-value="0">Please select</option>
                      <option value="1" ng-reflect-value="1">Option #1</option>
                      <option value="2" ng-reflect-value="2">Option #2</option>
                      <option value="3" ng-reflect-value="3">Option #3</option>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="cui-paperclip "></i></span>
                    </div>
                  </div>



                </div>
                <div class="col"> 


                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Type</b></span>
                    </div>
                    <input class="form-control" id="username3" name="username3" type="text">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="cui-cog "></i></span>
                    </div>
                  </div>


                </div>
               
              </div>
        <br/>
              <div class="row">


                
                <div class="col">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Montant</b></span>
                    </div>
                    <input class="form-control" id="username3" name="username3" type="text">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="cui-dollar"></i></span>
                    </div>
                  </div>



                </div>
                <div class="col"> 


                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Code client</b></span>
                    </div>
                    <input class="form-control" id="username3" name="username3" type="text">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="cui-pencil"></i></span>
                    </div>
                  </div>


                </div>
               
              </div>
              <br/>
              <div class="row">


                
                <div class="col">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Agent de contrôle</b></span>
                    </div>
                    <select class="form-control" id="select1" name="select1">
                      <option value="0" ng-reflect-value="0">Please select</option>
                      <option value="1" ng-reflect-value="1">Option #1</option>
                      <option value="2" ng-reflect-value="2">Option #2</option>
                      <option value="3" ng-reflect-value="3">Option #3</option>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                  </div>



                </div>
                <div class="col"> 


                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><b>Numéro de compte</b></span>
                    </div>
                    <input class="form-control" id="username3" name="username3" type="text">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-key "></i></span>
                    </div>
                  </div>


                </div>
               
              </div>
              <br/>
             
              <accordion [isAnimated]="true">
                <accordion-group heading="Agence">
              



                  <div class="row">


                
                    <div class="col">
                      <select class="form-control" id="select1" name="select1">
                        <option value="0" ng-reflect-value="0">Code Agence</option>
                        <option value="1" ng-reflect-value="1">Option #1</option>
                        <option value="2" ng-reflect-value="2">Option #2</option>
                        <option value="3" ng-reflect-value="3">Option #3</option>
                      </select>
    
                    
    
    
    
                    </div>
                    <div class="col"> 
    
                      <select class="form-control" id="select1" name="select1">
                        <option value="0" ng-reflect-value="0"> Agence</option>
                        <option value="1" ng-reflect-value="1">Option #1</option>
                        <option value="2" ng-reflect-value="2">Option #2</option>
                        <option value="3" ng-reflect-value="3">Option #3</option>
                      </select>
    
    
    
                    </div>
                    <div class="col"> 
    
                      <input class="form-control" placeholder="Dr" type="text">
    
    
                    </div>
                    <div class="col"> 
                      <input class="form-control" placeholder="Drpp" type="text">
    
    
    
                    </div>
                   
                  </div>
                </accordion-group>
              </accordion>
             
            <div class="row">
              <div class="col-md-2">
               <b> VIP </b>
              </div>
              <div class="col-md-2">
                <label class="switch switch-sm switch-3d switch-primary">
                  <input checked="" class="switch-input" type="checkbox">
                  <span class="switch-slider"></span>
                </label>
               

              </div>
              
           
         
        </div>
        <div class="card-footer">
        
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Annuler</button>
          <button  type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Ajouter</button>
        </div>
      </div>
  </div>

