<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Bordered Table
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Code client</th>
            <th>Montant</th>
            <th>Status</th>
            <th>Complétude</th>
          </tr>
        </thead>
        <tbody>
         
          <tr>
            <td>Paĉjo Jadon</td>
            <td>2012/02/01</td>
            <td>Staff</td>
            <td>
             Banned
            </td>
            <td>Staff</td>
            <td><button class="btn btn-pill btn-block btn-warning" type="button">Edit <i class="cui-pencil "></i></button></td>
          </tr>
          <tr>
            <td>Paĉjo Jadon</td>
            <td>2012/02/01</td>
            <td>Warning</td>
            <td>
            Banned
            </td>
            <td>Staff</td>
            <td><button class="btn btn-pill btn-block btn-warning" type="button">Edit <i class="cui-pencil"></i></button></td>
          </tr>
      
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>